$topbar-link-height: $topbar-height - rem-calc(10);

.l-header{
  .contain-to-grid{
    border-bottom: 1px solid #000;

    &.secondary{
      border-bottom: 1px solid #9e9e9e;

    }
  }
}

// Main Top Bar Styling
.top-bar{
  background: $branding-primary;

  .logo{
    line-height: $topbar-height;
    padding-right: 10px;
    img{
      max-height: rem-calc(30);
    }
  }

  .top-bar-section{
    // Main Navigation
    .main-nav{
      li{
        background: $branding-primary;
        margin-top: rem-calc(10);
      }

      li:not(.has-form) {
        &.active{
          border-left: 1px solid #000;
          border-right: 1px solid #000;
          a:not(.button){
            background: $panel-color;
            color: $primary-color;
            border-top: 2px solid $primary-color;

            position: relative;
            top: 1px;
          }
        }
        a:not(.button){
          background: $branding-primary;
          line-height: normal;
          height: $topbar-link-height;
          font-size: 16px;
          padding: rem-calc(15);

          padding-top: rem-calc(5);
          border-top: 2px solid $branding-primary;

          &.active{
            background: $panel-color;
            color: $primary-color;
            border-top: 2px solid $primary-color;

            position: relative;
            top: 1px;

          }
        }
      }
      i{
        font-size: 25px;
      }
    }
    // End Main Navigation

    // User Navigation
    .user-nav{
      .img-profile{
        line-height: $topbar-height;
        padding-right: 10px;
        max-height: rem-calc(30);
      }
      ul.dropdown li:not(.has-form) a:not(.button),
      li:not(.has-form) a:not(.button){
        font-size: 14px;
        background: $branding-primary;

        i{
          color: $secondary-color;
          font-size: 16px;
          padding-right: 8px;
        }
      }

      ul.dropdown{
        background: $branding-primary;

        li{
          padding-top: 0;
          margin: 0;
          background: $branding-primary;
          &:hover{
            background: #333333;
          }
          &:not(.has-form){
            a:not(.button){
              &:hover{
                background: #333333;
              }
              line-height: normal;
              padding: rem-calc(10);
              background: $branding-primary;

              height: auto;
              &.active{
                border-top: 2px solid $branding-primary;
                background: #333333;
                color: #FFF;
              }
            }
          }
        }

      }
    }
    // End User Navigation

  }

}

// Secondary Navigation
.navigation{
  &.secondary{
    height: $topbar-secondary-height;
    min-height: $topbar-secondary-height;
    background: $panel-color;
    ul{
      list-style-type: none;
      li{
        display: inline-block;
        float: left;
        line-height: $topbar-secondary-height;
        font-size: 13px;
        &.active{
          background: $tertiary-color;
          a{
            color: #FFF;
          }
          &.node-add{
            a{
              background: inherit;
              border: none;
              color: #fff;
            }
          }
        }

        a{
          padding: 6px;
          border-radius: $global-radius;

          margin: 0 2px;
          color:$tertiary-color;
        }
        &.node-add{
          a{
            background: $success-color;
            border-color: $success-color;
            color: #fff;
          }
        }
      }
    }
  }
}

.contain-to-grid.secondary {
  nav{
    max-width: $row-width;
    margin: 0 auto;
    margin-bottom: $topbar-margin-bottom;
  }
  background: $panel-color;
  border-bottom: 1px solid #9e9e9e;
}
